redmineApiUrl="https://redmine.acdh.oeaw.ac.at"
redmineApiKey="putYourKeyHere"

fedoraDefaultCollection=""
fedoraIdProp="http://purl.org/dc/terms/identifier"
fedoraUuidNamespace="https://id.acdh.oeaw.ac.at/uuid/"
fedoraIdNamespace="https://id.acdh.oeaw.ac.at/"
fedoraVocabsNamespace="https://vocabs.acdh.oeaw.ac.at/schema#"
fedoraRelProp="http://purl.org/dc/terms/isPartOf"
fedoraLocProp="https://vocabs.acdh.oeaw.ac.at/schema#locationpath"
fedoraSizeProp="http://purl.org/dc/terms/extent"
fedoraTitleProp="http://purl.org/dc/elements/1.1/title"

fedoraApiUrl="https://fedora.localhost/rest"
fedoraUser="admin"
fedoraPswd="***"
fedoraAclUri="https://fedora.localhost/rest/acl"

sparqlUrl="https://fedora.localhost/blazegraph/sparql"

containerDir="/mnt/acdh_resources/container/"

redmineMappingsFile="property_mappings.json"
redmineClasses[acdhOeaw\schema\redmine\Project]="https://vocabs.acdh.oeaw.ac.at/schema#Project"
redmineClasses[acdhOeaw\schema\redmine\User]="http://xmlns.com/foaf/0.1/Agent"
redmineClasses[acdhOeaw\schema\redmine\Issue]="https://vocabs.acdh.oeaw.ac.at/schema#DigitalResource"

indexerDefaultCollectionClass=""
indexerDefaultBinaryClass="https://vocabs.acdh.oeaw.ac.at/schema#DigitalResource"

ciriloServiceParamRdfPrefix="https://vocabs.acdh.oeaw.ac.at/schema#has"
ciriloLocationBase="http://cirilo.minerva.arz.oeaw.ac.at/"
fedoraHasServiceProp="https://vocabs.acdh.oeaw.ac.at/schema#hasDissService"
fedoraServiceClass="https://vocabs.acdh.oeaw.ac.at/schema#DisseminationService"
fedoraServiceIdNamespace="https://id.acdh.oeaw.ac.at/dissemination/"
fedoraServiceLocProp="https://vocabs.acdh.oeaw.ac.at/schema#serviceLocation"
fedoraServiceRetFormatProp="https://vocabs.acdh.oeaw.ac.at/schema#providesMime"
fedoraServiceSupportsProp="https://vocabs.acdh.oeaw.ac.at/schema#supportsClass"
fedoraServiceParamByValueProp="https://vocabs.acdh.oeaw.ac.at/schema#isPassedByValue"
fedoraServiceParamRequiredProp="https://vocabs.acdh.oeaw.ac.at/schema#isRequired"
fedoraServiceParamDefaultValueProp="https://vocabs.acdh.oeaw.ac.at/schema#hasDefaultValue"
fedoraServiceParamRdfPropertyProp="https://vocabs.acdh.oeaw.ac.at/schema#usesRdfProperty"
